.profileHeader{
  display: flex;
  flex-direction: row;
}
.imageLogo{
  height: 300px;
  width: 300px;
  margin: 10px;
}
.name{
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
}
.profilList{
  list-style-type: none;
  font-weight: 800; 
  }
.status{
  align-items: center;
}
