.appNavigation {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:  rgb(54, 54, 54);
    border-radius: 20px;
    height: 100px;
    box-shadow: 0 0 10px;

}

.item {
width: 120px;

}

.item a {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.item a.active {
    font-size: 25px;
    color:  rgb(255, 255, 255);
}