.gridMess{
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialogsPage{
    position: relative;
    width: 100%;
    height: 100px;
}
.inputBox{

    width: 100%;
}
.inputBox textarea{
    width: 80%;
    height: 100%;
}
.inputBox button{
    display: block;

}

.messagesSpace{


}